@white : #FFFFFF;
@black : #000000;
@red-pink: #FF6B98;
@lit-blue: #00bfff;
@fade-grey: #CACAB6;
@transparent: rgba(0,0,0,0);
@smartphones: ~"only screen and (max-width: 479px)";
@widescreens: ~"only screen and (min-width: 480px)";

.landing-page {
    & > img {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        position: absolute;
        opacity: 0;
        z-index: -1;
        &:nth-child(1) {
            @media @smartphones {
                opacity: .5;
            }
        }
        &:nth-child(2) {
            @media @widescreens {
                opacity: .5;
            }
        }
    }
    &__logo-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        margin: 0;
        position: absolute;
        pointer-events: none;
        z-index: -1;
        & img {
            width: 90px;
        }
    }
    &__landing-header {
        font-size: 24px;
        text-align: left;
        justify-content: center;
        font-family: 'Raleway', sans-serif;
        padding: 170px 10% 130px;
        &__pink-bold {
            font-family: 'Allan', cursive;
            font-size: 48px;
            font-weight: 900;
            color: @red-pink;
        }
        &__smalldesc {
            font-size: 18px;
        }
    }
    &__calltoaction {
        color: white;
        font-family: 'Raleway', sans-serif;
        margin-left: calc(50% - 68px); 
        font-size: 24px;
        padding: 10px 25px;
        outline: none;
        border: none;
        background-color: #FF6C98;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        transition: background-color 1s;
        &:hover {
            background-color: @lit-blue;
            transition: background-color 1s;
        }
    }
}