@import "../global/index.less";

:global .ant-checkbox-inner {
  width: 35px;
  height: 35px;
}

:global .ant-popover {
  text-align: center;
  & :global .ant-btn {
    width: 100%;
  }
}

.dashboard {
  &-body {
    display: grid;
    grid-template-rows: 93px auto;
    width: 80%;
    margin: 0 auto;
    margin-top: 450px;
    justify-items: center;
    align-items: center;
  }
  &-cart {
    display: grid;
    // grid-area:
    //   "checkbox image title price edit delete"
    grid-row-gap: 20px;
    padding-bottom: 50px;
    & .cart-item {
      display: grid;
      align-self: stretch;
      align-items: center;
      justify-items: center;
      border-bottom: 2px solid #eee;
      padding-bottom: 20px;
      grid-template-columns: .3fr 1fr .5fr 3fr .5fr;
      & .item {
        &-image {
          overflow: hidden;
          & > img {
            width: 100%;
          }
        }
        &-price {
          font-size: 18px;
          color: @red-pink
        }
        &-description {
          font-size: 20px;
        }
        &-icons i {
          font-size: 34px;
          .globalTransition;
          &:hover {
            color: @red-pink;
            .globalTransition;
          }
        }
      }
    }
  }
  & .background {
    filter: brightness(60%);
    top: 0;
    right: 0;
    z-index: -1;
    width: 100vw;
    height: 600px;
    position: absolute;
  }
  & .progress {
    margin-top: 50px;
    height: 100px;
    width: 36%;
  }
  & .item-icons {
    width: 134px;
    display: flex;
    justify-content: space-around;
  }
}
